<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Page Header
      <small>Optional description</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
      <li class="active">Here</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div *ngFor="let product of products">
      <div class="well">
        <ul class="list-group">
          <li class="list-group-item" >{{product.id}}</li>
          <li class="list-group-item" >{{product.name}}</li>
          <li class="list-group-item" >{{product.username}}</li>
          <li class="list-group-item" >{{product.email}}</li>
        </ul>
      </div>
    </div>
    <!-- Your Page Content Here -->

  </section>
  <!-- /.content -->
</div>
